[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bokeh = "*"
pandas = "*"
obspy = "*"
pytz = "*"
jinja2 = "*"
tornado = "*"
ipython = "*"
panel = "*"
holoviews-foobarbecue = {git = "https://github.com/foobarbecue/holoviews",ref = "apply_xy_ranges"}

[requires]
python_version = "3.7"
